<a href="https://colab.research.google.com/github/gloriagutierrez2025/Challenger_Telecom/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Importaci√≥n de Bibliotecas**

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import json

In [34]:
url='https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/main/TelecomX_Data.json'

In [37]:
response=requests.get(url)
data=response.json()
df=pd.json_normalize(data)
df.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [38]:
df.columns = df.columns.str.replace('.', '_', regex=False)

#Identificando valores nulos

In [39]:
missing = df.isnull().sum()
print("üîç Valores ausentes por columna:\n", missing[missing > 0])

üîç Valores ausentes por columna:
 Series([], dtype: int64)

#Indentificando datos duplicados#

In [47]:
duplicates = df.duplicated().sum()
print(f"\nüîç Filas duplicadas: {duplicates}")

üîç Filas duplicadas: 0

In [48]:
print("\nüìã Tipos de datos:")
print(df.dtypes)

üìã Tipos de datos:
customerID                    object
Churn                         object
customer_gender               object
customer_SeniorCitizen         int64
customer_Partner              object
customer_Dependents           object
customer_tenure                int64
phone_PhoneService            object
phone_MultipleLines           object
internet_InternetService      object
internet_OnlineSecurity       object
internet_OnlineBackup         object
internet_DeviceProtection     object
internet_TechSupport          object
internet_StreamingTV          object
internet_StreamingMovies      object
account_Contract              object
account_PaperlessBilling      object
account_PaymentMethod         object
account_Charges_Monthly      float64
account_Charges_Total         object
dtype: object

In [49]:
df['account_Charges_Total'] = pd.to_numeric(df['account_Charges_Total'], errors='coerce')
df['account_Charges_Monthly'] = pd.to_numeric(df['account_Charges_Monthly'], errors='coerce')

In [50]:
print("\n‚ùó Registros con error al convertir valores num√©ricos:")
print(df[df['account_Charges_Total'].isnull() | df['account_Charges_Monthly'].isnull()])

‚ùó Registros con error al convertir valores num√©ricos:
      customerID Churn customer_gender  customer_SeniorCitizen  \
975   1371-DWPAZ    No          Female                       0
1775  2520-SGTTA    No          Female                       0
1955  2775-SEFEE    No            Male                       0
2075  2923-ARZLG    No            Male                       0
2232  3115-CZMZD    No            Male                       0
2308  3213-VVOLG    No            Male                       0
2930  4075-WKNIU    No          Female                       0
3134  4367-NUYAO    No            Male                       0
3203  4472-LVYGI    No          Female                       0
4169  5709-LVOEQ    No          Female                       0
5599  7644-OMVMY    No            Male                       0

     customer_Partner customer_Dependents  customer_tenure phone_PhoneService  \
975               Yes                 Yes                0                 No
1775              Yes                 Yes                0                Yes
1955               No                 Yes                0                Yes
2075              Yes                 Yes                0                Yes
2232               No                 Yes                0                Yes
2308              Yes                 Yes                0                Yes
2930              Yes                 Yes                0                Yes
3134              Yes                 Yes                0                Yes
3203              Yes                 Yes                0                 No
4169              Yes                 Yes                0                Yes
5599              Yes                 Yes                0                Yes

     phone_MultipleLines internet_InternetService  ... internet_OnlineBackup  \
975     No phone service                      DSL  ...                   Yes
1775                  No                       No  ...   No internet service
1955                 Yes                      DSL  ...                   Yes
2075                  No                       No  ...   No internet service
2232                  No                       No  ...   No internet service
2308                 Yes                       No  ...   No internet service
2930                 Yes                      DSL  ...                   Yes
3134                 Yes                       No  ...   No internet service
3203    No phone service                      DSL  ...                    No
4169                  No                      DSL  ...                   Yes
5599                  No                       No  ...   No internet service

     internet_DeviceProtection internet_TechSupport internet_StreamingTV  \
975                        Yes                  Yes                  Yes
1775       No internet service  No internet service  No internet service
1955                        No                  Yes                   No
2075       No internet service  No internet service  No internet service
2232       No internet service  No internet service  No internet service
2308       No internet service  No internet service  No internet service
2930                       Yes                  Yes                  Yes
3134       No internet service  No internet service  No internet service
3203                       Yes                  Yes                  Yes
4169                       Yes                   No                  Yes
5599       No internet service  No internet service  No internet service

     internet_StreamingMovies account_Contract account_PaperlessBilling  \
975                        No         Two year                       No
1775      No internet service         Two year                       No
1955                       No         Two year                      Yes
2075      No internet service         One year                      Yes
2232      No internet service         Two year                       No
2308      No internet service         Two year                       No
2930                       No         Two year                       No
3134      No internet service         Two year                       No
3203                       No         Two year                      Yes
4169                      Yes         Two year                       No
5599      No internet service         Two year                       No

          account_PaymentMethod account_Charges_Monthly  account_Charges_Total
975     Credit card (automatic)                   56.05                    NaN
1775               Mailed check                   20.00                    NaN
1955  Bank transfer (automatic)                   61.90                    NaN
2075               Mailed check                   19.70                    NaN
2232               Mailed check                   20.25                    NaN
2308               Mailed check                   25.35                    NaN
2930               Mailed check                   73.35                    NaN
3134               Mailed check                   25.75                    NaN
3203  Bank transfer (automatic)                   52.55                    NaN
4169               Mailed check                   80.85                    NaN
5599               Mailed check                   19.85                    NaN

[11 rows x 21 columns]

In [51]:
print("\nüéØ Valores √∫nicos por categor√≠a clave:")
for col in ['Churn', 'account_Contract', 'account_PaymentMethod', 'internet_InternetService']:
    print(f"\n{col}: {df[col].unique()}")

üéØ Valores √∫nicos por categor√≠a clave:

Churn: ['No' 'Yes' '']

account_Contract: ['One year' 'Month-to-month' 'Two year']

account_PaymentMethod: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

internet_InternetService: ['DSL' 'Fiber optic' 'No']

In [52]:
print(df.columns.tolist())

['customerID', 'Churn', 'customer_gender', 'customer_SeniorCitizen', 'customer_Partner', 'customer_Dependents', 'customer_tenure', 'phone_PhoneService', 'phone_MultipleLines', 'internet_InternetService', 'internet_OnlineSecurity', 'internet_OnlineBackup', 'internet_DeviceProtection', 'internet_TechSupport', 'internet_StreamingTV', 'internet_StreamingMovies', 'account_Contract', 'account_PaperlessBilling', 'account_PaymentMethod', 'account_Charges_Monthly', 'account_Charges_Total']

#Limpieza de datos mal codificados#

In [53]:
df = df.replace(['', ' '], np.nan)

In [54]:
nulos = df.isnull().sum()
print("üï≥Ô∏è Valores nulos despu√©s de limpieza:\n", nulos[nulos > 0])

üï≥Ô∏è Valores nulos despu√©s de limpieza:
 Churn                    224
account_Charges_Total     11
dtype: int64

In [57]:
df = df.dropna(subset=['account_Charges_Total'])

In [55]:
df = df.dropna(subset=['Churn'])

In [58]:
nulos = df.isnull().sum()
print("üï≥Ô∏è Valores nulos despu√©s de limpieza:\n", nulos[nulos > 0])

üï≥Ô∏è Valores nulos despu√©s de limpieza:
 Series([], dtype: int64)

In [59]:
print(df.isnull().sum())

customerID                   0
Churn                        0
customer_gender              0
customer_SeniorCitizen       0
customer_Partner             0
customer_Dependents          0
customer_tenure              0
phone_PhoneService           0
phone_MultipleLines          0
internet_InternetService     0
internet_OnlineSecurity      0
internet_OnlineBackup        0
internet_DeviceProtection    0
internet_TechSupport         0
internet_StreamingTV         0
internet_StreamingMovies     0
account_Contract             0
account_PaperlessBilling     0
account_PaymentMethod        0
account_Charges_Monthly      0
account_Charges_Total        0
dtype: int64